.alink {
  text-decoration: none;
}

/* login,signup form */

input[type=text2],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=text2]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none; 
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 10px 18px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.mysignup .cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.mylogin img.avatar {
  width: 40%;
  border-radius: 50%;
}

.mylogin .container {
  padding: 16px;
}

.mysignup .container {
  padding: 16px;
}


.mylogin span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

/* product-card */


.product-card {
  width: 240px;
  border: 2px solid white;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  background: #eceff0;
  margin-top: 20px;

}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  height: 200px;
}

.product-details {
  padding: 10px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
}

.product-details h5 button {
  font-weight: 500;
  display: block;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links button {
  display: inline-block;
  margin-left: 20px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #0D6EFD;
}

/* mynews */

.date__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ccc;
  border: 4px solid;
  font-weight: bold;
  padding: 5px 10px;

  .date__day {
    font-size: 22px;
  }
}

.blog-card {
  padding: 30px;
  position: relative;

  .date__box {
    opacity: 0;
    transform: scale(0.5);
    transition: 300ms ease-in-out;
  }

  .blog-card__background,
  .card__background--layer {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .blog-card__background {
    padding: 15px;
    background: rgb(213, 239, 243);
  }

  .card__background--wrapper {
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
    position: relative;
    overflow: hidden;
  }

  .card__background--main {
    height: 100%;
    position: relative;
    transition: 300ms ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card__background--layer {
    z-index: 0;
    opacity: 0;
    background: rgba(#333, 0.9);
    transition: 300ms ease-in-out;
  }

  .blog-card__head {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blog-card__info {
    z-index: 10;
    background: white;
    padding: 20px 15px;

    h5 {
      transition: 300ms ease-in-out;
    }
  }

  &:hover {
    .date__box {
      opacity: 1;
      transform: scale(1);
    }

    .card__background--main {
      transform: scale(1.2) rotate(5deg);
    }

  }
}

a.icon-link {
  color: #363738;
  text-decoration: none;

}

.headbox {
  height: auto;
  border: 1px solid #0D6EFD ;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px #888888;
}



/* myfooter */


.myfooter ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.myfooter ul>li>a {
  text-decoration: none;
  color: white;
}

.box50 {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
}

.boxa {
  width: 136px;
  height: 136px;
  text-align: center;
  line-height: 20px;
  display: inline-block;
  transition: 1s;

}

.boxa:hover {
  transform: scale(1.2);
}

.imgdmnh {
  height: 120;
  width: 120;
}

.hr {
  border: 3px solid #0D6EFD;
}